.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  .left {
    flex: 3;
    gap: 2rem;
    display: flex;
    align-items: center;
    .logo {
      width: 80px;
      height: 40px;
      cursor: pointer;
    }
    .list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      .listItem {
        &:hover {
          padding-top: 5px;
          text-decoration: none;
          border-bottom: 5px solid #ed6b00;
        }
        cursor: pointer;
        &:first-child {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    .heart {
      cursor: pointer;
    }
    .login {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      .loginUser {
        font-size: 12px;
      }
    }
  }
}
