.footerWrapper {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  padding: 60px;
  color: #465166;
  background: #f5f5f5;
  .left {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    .socialIcons {
      margin-right: 1rem;
      cursor: pointer;
    }
    .mobileIcons {
      margin-right: 1rem;
      cursor: pointer;
    }
  }
  .right {
    flex: 1;
    .name {
      padding-bottom: 1rem;
    }
    .links {
      cursor: pointer;
    }
    .seperator {
      margin: 0 0.2rem;
    }
  }
}
